<h2>Admin Page</h2>
<div>
<ul>
    <li *ngFor="let person of persons">
        <span class="badge">{{person.userName}}</span>
        <span class="badge"><pre></pre></span>
        <span class="badge">ID={{person.id}}</span>
        <span class="badge"><pre></pre></span>
        <span *ngIf="!person.hasCovid" class="badge">this person has no covid</span>
        <span class="badge"><pre></pre></span>
        <span class="badge">{{person.info}}</span>
        <span class="badge"><pre></pre></span>
    </li>
</ul>
</div>
<button (click)="onClickMe()">Update</button>
<mat-card>
    <mat-card-content>
      <form *ngIf="ifupdate" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  
        
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Old ID" formControlName="oldId" required>
         
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="NewUserName" formControlName="newUsername" required>
          
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="newPassWord" formControlName="newPassWord" required>
            
          </mat-form-field>
        <button mat-raised-button color="primary">UPDATE</button>
      </form>
    </mat-card-content>
    <mat-card-content>
      <form *ngIf="ifupdate">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Old ID" formControlName="oldId" required>
         
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>



