<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items">
    <!-- <a mat-button routerLink="autocomplete" routerLinkActive="active">autocomplete</a>
    <a mat-button routerLink="CheckBox" routerLinkActive="active">CheckBox</a> -->
    <a mat-button routerLink="login" routerLinkActive="active">login</a>
    <a mat-button routerLink="register" routerLinkActive="active">Register</a>
    <a mat-button routerLink="covid" routerLinkActive="active">Questionnaire</a>
    <a mat-button routerLink="admin" routerLinkActive="active">Admin</a>
    <a mat-button routerLink="profile" routerLinkActive="active">profile</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>